.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; /* 控制間距 */
    background-color: #1a202c; /* bg-gray-900 */
    color: white;
    padding: 1.5rem 2rem;
  }
  
  .footer div {
    flex: 1;
    text-align: center;
  }
  
  .footer a img {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
  }
  
  .footer p {
    margin: 0;
    font-weight: bold;
  }
  
  .footer .footer-copyRight {
    opacity: 0.6;
    color: #cbd5e0; /* text-gray-400 */
  }
  